﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <title></title>
    <meta charset="utf-8"/>
</head>
<body class="container" ng-controller="MainController as main">
<h1 align="center" style="font-weight: bold">{{main.title}}</h1>

<nav>
    <ul>
        <li><a ui-sref="home">Home</a></li>
    </ul>
</nav>
<ui-view></ui-view>

<script data-require="angular.js@<2" data-semver="1.5.8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script data-require="ui-router@0.2.18" data-semver="0.2.18" src="//cdn.rawgit.com/angular-ui/ui-router/0.2.18/release/angular-ui-router.js"></script>

<script src="app/home/home.module.js"></script>
<script src="app/home/home.controller.js"></script>
<script src="app/home/home.ratedirective.js"></script>

<script src="app/detail/detail.module.js"></script>
<script src="app/detail/detail.controller.js"></script>
<script src="app/detail/detail.ratedirective.js"></script>

<script src="app/add/add.module.js"></script>
<script src="app/add/add.controller.js"></script>
    <script src="app/add/addcharacter.directive.js"></script>

<script src="app.js"></script>
<script src="data/movie.service.js"></script>
<script src="config.route.js"></script>
<link href="style.css" rel="stylesheet"/>

</body>
</html>
