﻿.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}

.add-movie{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:right;
}

.save{
    margin-left:100px;
}

form-group1 input{
    float:left;    
}

form-group1 label{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2px;
    font-weight:300;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    margin-right:100px;
    float:left;
}
