﻿<div>
    <div>
        <table>
            <tr>
                <td style="width: 93%">
                    <h2>{{detailCont.movie.Name}}</h2>
                </td>
                <td>
                    <h4>Rating : {{detailCont.movie.Rating}}</h4>
                    <!--<div movie-detail-directive rating-value="detailCont.movie.Rating" max="5" readonly="true"></div>-->
                </td>
            </tr>
        </table>
    </div>
    
    <p align="justify">{{detailCont.movie.Description}}</p><br>
    <h4>Directed by : {{detailCont.movie.DirectedBy}}</h4>
    <h4>Released year : {{detailCont.movie.ReleaseYear}}</h4>
    <h4>Language : {{detailCont.movie.Language}}</h4><br>
    <h3 style="font-weight: bold">Characters</h3>
    <div ng-repeat="character in detailCont.characters">
        <h6>{{character}}</h6>
    </div>
</div>

