﻿<nav>
    <div class="add-movie"><a ui-sref="add">Add Movie</a></div>
</nav>
<div style="border-size: 2px; border-style: groove" ng-repeat="movie in home.movieList | orderBy : 'ReleaseYear': true">
    <div>
        <table>
            <tr>
                <td style="width: 93%">
                    <h3 style="font-weight: bold">{{movie.Name}} ({{movie.ReleaseYear}})</h3>
                </td>
                <td style="width: 90%">
                    <div movie-directive rating-value="movie.Rating" max="5" readonly="true"></div>
                </td>
            </tr>
        </table>
    </div>
    <p align="justify">{{movie.Description}}</p>
    <p align="right" style="font-weight: bold"><a ui-sref="detail({ id: movie.Id })">Detail</a></p>
</div>