﻿<h2 style="font-weight: bold" align="center">Add Movie</h2>

<div>
    <table align="center">
        <tr>
            <td>
                <div style="border-size: 2px; border-style: groove" class="add-movie">
                    <table>
                        <tr>
                            <td>Name</td>
                            <td></td>
                            <td><input type="text" name="name" ng-model="addmovie.name"/></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td></td>
                            <td><textarea ng-model="addmovie.description" name="description"></textarea></td>
                        </tr>
                        <tr>
                            <td>Director</td>
                            <td></td>
                            <td><input type="text" ng-model="addmovie.director" name="director"/></td>
                        </tr>
                        <tr>
                            <td>Release Year</td>
                            <td></td>
                            <td><input type="text" ng-model="addmovie.releaseyear" name="releaseyear"/></td>
                        </tr>
                        <tr>
                            <td>Rating</td>
                            <td></td>
                            <td><input type="text" ng-model="addmovie.rating" name="rating"/></td>
                        </tr>
                        <tr>
                            <td>Language</td>
                            <td></td>
                            <td><input type="text" ng-model="addmovie.language" name="language"/></td>
                        </tr>
                        <tr>
                            <td colspan="3" align="right"><button class="save" ng-click="addmovie.save()">Save</button></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr><td colspan="3"> </td></tr>
        <tr><td colspan="3"> </td></tr>
        <tr>
            <td>
                <div ng-show="addmovie.isMovieAdded"  style="border-size: 2px; border-style: groove">
                    <table>
                        <tr>
                            <td>Character</td>
                            <td><input type="text" ng-model="addmovie.character" name="character"/></td>
                        </tr>
                        <tr>
                            <td>Actor</td>
                            <td><input type="text" ng-model="addmovie.actor" name="actor"/></td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2"><button class="save" ng-click="addmovie.add()">Add</button></td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 300px">
                                    <thead>
                                        <tr>
                                            <td>Character</td>
                                            <td>Actor</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr character-item character="character" ng-repeat="character in addmovie.characterCollection | orderBy : 'charactor'"></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<div>
    
</div>
